<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="producto.name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">URL de la imagen</ion-label>
    <ion-input [(ngModel)]="producto.img" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="producto.price" ></ion-input>
  </ion-item>
  <ion-button class="ion-margin"  (click)="addProduct()" expand="block" fill="clear" shape="round">
    Agregar Producto
  </ion-button>
</ion-content>